//app
$default: #5276f0;
$defalutBg: #e4ecf6;
$black: #2e3956;
$color-primary: #4592d5;
$color-danger: #d12424;
$border-color-lighter: #649efc;
$border-color-base : #95969a;

//pagination
$pagination-button-height: 38px;
$pagination-font-size: 16px;
//header
$headerHeight: 76px;
//sidebar
$menuBg: linear-gradient(#5276f0, #1c4486);
$subMenuBg:#1f2d3d;
$menuHover:#e58500;



