@import './_variables';
@import './header.scss';
@import './sidebar.scss';
@import './tree.scss';
@import './mixin.scss';

body,html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Microsoft YaHei";

  margin: 0;
  padding: 0;
  height: 100%;
}
button{
  font-family: "Microsoft YaHei";
}
body.is-component,
html.is-component{
  overflow: hidden;
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus{
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

#app {
  .is-component{
    .app-wrapper{
      padding: 0;
      margin-top: 0;
      height: 100%;
      min-height: auto
    }
  }
}
//main-container全局样式
.default-bg{
  background-color: $defalutBg!important;
}
.app-main{
  min-height: 100%;
  flex: 1;
  display: flex;
  .aside-title{
    padding-left: 8px;
  }
  .aside-title,.main-title{
    margin: 0 0 20px;
    font-weight: normal;
    font-size: 18px;
  }
  .main-table{
    margin-top: 20px;
  }
  .base-aside{
    position: relative;
    overflow: hidden;
    &::after{
      position: absolute;
      height: 100%;
      right: 0;
      top: 24px;
      bottom: 0;
      width: 1px;
      background-color: $border-color-lighter;
      content: '';
    }
  }
  .base-main{
    padding-left: 40px;
  }
}

.app-container {
  padding: 20px;
}
.wrapper_scroll {
  height: calc(100% - #{$headerHeight});
  margin-top: $headerHeight;
  overflow: hidden;
  position: relative;
  .scroll_wrap{
    height: 100%;
    overflow: scroll;
    overflow-x: auto;
  }
}
// table样式调整
.main-container{
  display: flex;
  flex-direction: column;
  .table-group-title{
    color: #fff;
    padding: 0 10px;
    background-color: #7aaae6;
    h3{
      height: 40px;
      margin: 0;
      line-height: 40px; 
    }
  }
  .table-item{
    .table-header{
      background-color: #b9d1ef;
    }
    + .table-item{
      margin-top: 18px;
    }
  }
  .el-table{
    font-size: 16px;
    thead{
      color: #187ab9;
    }
    th{
      padding: 8px 0;
    }
    td{
      padding: 8px 0;
      .el-button{
        &--text{
          font-size: 14px;
          padding: 0;
        }
      }  
    }
    &__body{
      tr:nth-child(even){
        background-color: $defalutBg;
      }
    }
  } 
}
.table-header{
  height: 50px;
  padding: 0 10px;
  border: 1px solid $border-color-lighter;
  border-bottom: none;
  background-color: $defalutBg;
  position: relative;
}
.table-title {
  margin: 0;
  font-size: 18px;
  line-height: 50px;
  font-weight: normal;
  &.is-left{
    text-align: left;
  }
  &.is-right {
    text-align: right;
  }
  &.is-center {
    text-align: center;
    font-weight: bold;
  }
  &-slot{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    .el-button{
      font-size: 16px;
      padding: 7px 12px;
      border-radius: 3px;
      .svg-icon {
        vertical-align: sub;
        font-size: 16px;
      }
    } 
  }
}

//表单组件

.form-row{
  + .form-row{
    .field-search{
      border-top: 0;
    } 
  }
  >.el-col{
    + .el-col{
      .field-search{
        border-left: none;
      }
    }
  }
}
.field-search{
  border: 1px solid $border-color-lighter;
  >.input-group__label{
    min-width: 105px;
    background-color: $defalutBg;
    border-right: 1px solid $border-color-lighter;
  }
  .form-control{
    border: none;
    &:focus{
      outline: 0;
      box-shadow: none;
    }
  }
}
.main-container .query-title{
  .el-input-group__prepend{
    background-color: $defalutBg;
    border: 1px solid $border-color-lighter;
    color: $black;
  }
  .el-input__inner{
    border: 1px solid $border-color-lighter;
    border-left: none;
  }
  #border-right{
    border-right: none;
  }
}
.input-group{
  position: relative;
  display: table;
  border-collapse: separate;
  &__label{
    width: 1%;
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 16px;
    color: $black;
    line-height: 40px;
    padding: 0 12px;
  }
  .form-control{
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
  }
}
.form-control{
  color: $black;
  height: 40px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
}
.form-footer-inline{
  line-height: 40px;
  &.is-right{
    text-align: right;
  }
  &.is-center{
    text-align: center;
  }
  .el-button{
    margin-top: 1px;
    font-size: 18px;
    .svg-icon{
      vertical-align: sub;
      font-size: 20px;
    }
  }
}
.form-footer{
  text-align: center;
  padding: 10px 0;
  .el-button{
    font-size: 18px;
    .svg-icon {
      vertical-align: sub;
      font-size: 22px;
    }
  }
  
}

//分页组件样式
.pagination{
  &.el-pagination{
  padding: 12px 0;
  font-weight: normal;
    @at-root .el-pagination__rightwrapper {
      border-radius: 4px;
      border: 1px solid $border-color-lighter;
      background-color: $defalutBg;
      .el-pagination__editor{
        border-radius: 0;
      }
      .el-input__inner{
        height: $pagination-button-height - 2px !important;
        border-radius: 0;
        border-top: 0;
        border-bottom: 0;
        border-left: 1px solid $border-color-lighter;
        border-right: 1px solid $border-color-lighter;
      }
    }
    button {
      border: 1px solid $border-color-lighter;
      padding: 0;
      &:not(.disabled){
        color: $border-color-lighter;
      }
      .el-icon {
        font-size: $pagination-font-size;
      }
    }
    .el-pager {
      // border-top: 1px solid $border-color-lighter;
      // border-bottom: 1px solid $border-color-lighter;
      position: relative;
      color: $border-color-lighter;
      &::before {
        @include extend-rule(border-pseudo);
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
      }
      &::after {
        @include extend-rule(border-pseudo);
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
      }
      @include share-rule(border-pseudo) {
        content: '';
        position: absolute;
        background-color: $border-color-lighter;
        z-index: 1;
      }
      li {   
        &+ li{
          border-left: 1px solid $border-color-lighter;
        }
        &.active {
          background-color: #efefef;
        }
      }
    }
  } 
  &__count{
    margin-left: 20px;
    font-weight: normal;
  } 
}  