#app {
  $sideBar: 175px; // 主体区域
  .main-container {
    height: 100%;
    transition: margin-left 0.28s;
    margin-left: $sideBar;
    padding: 20px;
  } // 侧边栏
  .sidebar-container {
    transition: width 0.28s;
    width: $sideBar !important;
    position: fixed;
    top: 0;
    bottom: $footerHeight;
    left: 0;
    z-index: 1001;
    margin-top: $headerHeight;
    a {
      display: inline-block;
      width: 100%;
    }
    .icon{
      font-size: 36px;
      color: #fff;
      font-weight: 300;
      margin-right: 3px;
    }
    .svg-icon {
      margin-right: 3px;
    }
    .el-menu {
      border: none;
      // width: 100%;
      &-item {
        font-size: 1.2em;
        height: 48px;
        line-height: 48px;
        padding: 0 16px;
      }
    }
    .scroll-wrapper{
        >.el-menu{
          >.menu-wrapper{
            >.el-submenu{
              &.is-active{
                >.el-submenu{
                  &__title{
                    background-color: $menuHover !important;
                  }
                }
              }
            }
          }
        }
    }
    .menu-wrapper{
      >.active {
        .el-menu-item {
          &.is-active {
            color: #fff !important;
            background-color: $menuHover !important;
          }
        }
      }
      .el-submenu {
        &__title {
          // background-color: inherit!important;
          font-size: 1.2em;
          height: 48px;
          line-height: 48px;
          padding: 0 16px;
          i{
            font-size: $default-font;
            color:#fff;
            right: 20px;
          }
        }
      }
    }
   
    
  }
  .hideSidebar {
    .sidebar-container,
    .sidebar-container .el-menu {
      width: 64px !important; // overflow: inherit;
    }
    .main-container {
      margin-left: 64px;
    }
  }
  // .hideSidebar {
  //   .submenu-title-noDropdown {
  //     padding-left: 10px !important;
  //     position: relative;
  //     span {
  //       height: 0;
  //       width: 0;
  //       overflow: hidden;
  //       visibility: hidden;
  //       transition: opacity .3s cubic-bezier(.55, 0, .1, 1);
  //       opacity: 0;
  //       display: inline-block;
  //     }
  //     &:hover {
  //       span {
  //         display: block;
  //         border-radius: 3px;
  //         z-index: 1002;
  //         width: 140px;
  //         height: 56px;
  //         visibility: visible;
  //         position: absolute;
  //         right: -145px;
  //         text-align: left;
  //         text-indent: 20px;
  //         top: 0px;
  //         opacity: 1;
  //       }
  //     }
  //     .el-tooltip {
  //       padding: 0 10px !important;
  //     }
  //   }
  //   .el-submenu {
  //     &>.el-submenu__title {
  //       padding-left: 10px !important;
  //       &>span {
  //         display: none;
  //       }
  //       .el-submenu__icon-arrow {
  //         display: none;
  //       }
  //     }
  //     .nest-menu {
  //       .el-submenu__icon-arrow {
  //         display: block !important;
  //       }
  //       span {
  //         display: inline-block !important;
  //       }
  //     }
  //   }
  // }
  .nest-menu .el-submenu>.el-submenu__title,
  .el-submenu .el-menu-item {
    min-width: 175px !important;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    &:hover {
      color: $menuHover !important;
    }
  }
  .el-menu--collapse .el-menu .el-submenu {
    min-width: 175px !important;
  }
  .el-menu{
    &--collapse{
      .el-submenu,.el-menu-item span{
        >.el-submenu__title{
          span,{
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
      >.el-menu-item span{
        height: 0;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        display: inline-block;
      }
    }
  }
}
